@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    text-decoration: none;

}

:root {
    --cor00: #000000;
    --cor01: #ffffff;
    --cor02: #274885;
    --cor03: #4c89f8;
    --cor04: #d2e1ff;
    --cor05: #4177da;
}

header{
    display: flex;
    background-color: var(--cor02);
    color: var(--cor01);
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
main {
    color: var(--cor00);
}

nav{
    display: flex;
    flex-direction: row;
    margin: 8px;
}

nav a{
    color:var(--cor01);
    margin-left: 20px;
}

.iconify {
    color: var(--cor00);
    font-size: 30px;
    margin-bottom: 20px;
}

.iconify:hover{
    transform: translate(0, -2px);
    animation-duration: 0.6s;
}

#profile {
    width: 35%;
    margin: 100px 0px;
}

section {
    margin: auto auto;
}

#bg1{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('https://media.istockphoto.com/id/1149011243/vector/horizontal-vector-illustration-of-an-empty-light-bluish-grey-grungy-textured-background.jpg?s=612x612&w=0&k=20&c=PBeWiCr8PlhqTcJMKkmvRwFVHmpcxMabI1jSVsoOH9U=');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

section#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
   
}
div#content{
    margin-left: 8px;
}
section#home h2{
    font-size: 1.7em;
    margin-left: 2px;
    margin-bottom: 8px;
    font-weight: 600;
}

section#home p {
    font-weight: 500;
}

.button{
    color: var(--cor01);
    background-color: var(--cor03);
    padding: 8px;
    border-radius: 7px;
    font-weight: bold;
}

.button:hover {
    background-color: var(--cor05);
}

hr{
    border: none;
    border-bottom: 1px solid #F6F6F6;
    margin: 80px 0px;
}

section#sobre{
    text-align: center;
}

#sobre-content{
    width: 88vw;
    padding: 22px;
    background-color: #FAFAFA;
    text-align: justify;
    border-radius: 34px;
}
ul{
    list-style-type: none;
}
section#projetos{
    text-align: center;
}
section> p {
    color: #606060;
}

.descricao{
    margin-top: -50px;
}

.project {
    margin-bottom: 50px;
}
.project img{
    width: 300px;
}

footer {
    text-align: center;
    background-color: var(--cor02);
    color: var(--cor01);
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    
    
    section#home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        line-height: 27px;
    }
    #sobre-content{
        margin: 0 auto;
        width: 84vw;
        padding: 22px;
        background-color: #FAFAFA;
        text-align: justify;
        border-radius: 34px;
        
    }

    .iconify {
        color: var(--cor00);
        font-size: 40px;
        margin-bottom: 10px;
    }
    section#home p{
        font-size: 1.4em;
    }
    section#home h2{
        font-size: 2.3em;
        margin-left: 5px;
        margin-bottom: 8px;
    }
    
    div#content{
        margin-left: 20px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    
    #sobre-content{
        margin: 0 auto;
        width: 85vw;
        max-width: 900px;
        font-size: 1.3em;
        padding: 22px;
        background-color: #FAFAFA;
        text-align: justify;
        border-radius: 34px;
        
    }
 
    .project{
        margin-right: 30px;
    }

    .button {
        font-size: 1.2em;
    }
    .iconify {
        color: var(--cor00);
        font-size: 40px;
        margin-bottom: 10px;
    }

    section#home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 36px;
    }
    section#home p{
        font-size: 1.5em;
    }
    section#home h2{
        font-size: 3em;
        margin-left: 5px;
        margin-bottom: 14px;
    }
    
    div#content{
        margin-left: 20px;
    }
    
    div#project-up{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div#project-down{
        display: flex;
    }
}

@media screen and (min-width: 1000px){
    section{
        margin: auto auto;
        max-width: 1400px;
    }
    #sobre-content{
        margin: 0 auto;
        font-size: 1.3em;
        width: 85vw;
        max-width: 1000px;
        padding: 22px;
        background-color: #FAFAFA;
        text-align: justify;
        border-radius: 34px;
    }

    section#sobre h2 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 10px;
    }
    #profile {
        margin: 100px 0px;
    }
    .iconify{
        font-size: 50px;
    }
    .button{
        font-size: 1.2em;
    }

    section#home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        line-height: 43px;
        margin-bottom: 20vh;
    }

    section#home p{
        font-size: 2em;
    }
    section#home h2{
        font-size: 4em;
        margin-left: 5px;
        margin-bottom: 14px;
    }
    div#project-up{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div#project-down{
        display: flex;
    }
    .project img{
        width: 400px;
    }
}