@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    text-decoration: none;

}


header{
    display: flex;
    background-color: #274885;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

nav{
    display: flex;
    flex-direction: row;
    margin: 8px;
}

nav a{
    color:white;
    margin-left: 20px;
}

.iconify {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

#profile {
    width: 130px;
}

section#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 10px;
    font-weight: bold;
    line-height: 24px;
}
div#content{
    margin-left: 8px;
}
section#home h2{
    font-size: 1.7em;
    margin-left: 2px;
    margin-bottom: 8px;
}

.button{
    color: white;
    background-color: #4C89F8;
    padding: 8px;
    border-radius: 7px;
}

hr{
    border: none;
    border-top: 1px solid #F6F6F6;
    margin: 80px 0px;
}

section#sobre h2{
    margin: 16px;
}
section#sobre p{
    width: 88vw;
    padding: 22px;
    background-color: #FAFAFA;
    text-align: justify;
    border-radius: 34px;
}
section#projetos{
    text-align: center;
}
section> p {
    color: #606060;
}

.descricao{
    margin-top: -50px;
}

.project {
    margin-bottom: 50px;
}
.project img{
    width: 300px;
}

footer {
    text-align: center;
    background-color: #274885;
    color: white;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    section#sobre p{
        margin: 0 auto;
        width: 84vw;
        padding: 22px;
        background-color: #FAFAFA;
        text-align: justify;
        border-radius: 34px;
        
    }
    #profile {
        width: 170px;
    }
    
    .iconify {
        color: black;
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    section#home h2{
        font-size: 2em;
        margin-left: 5px;
        margin-bottom: 8px;
    }
    
    div#content{
        margin-left: 20px;
    }
}

@media screen and (min-width: 800px) {
    body{
        background-color: #ebe5c5(241, 241, 241);
    }
    main{
        min-width: 500px;
        max-width: 1000px;
        margin: 0 auto;
    }
    section#sobre p{
        margin: 0 auto;
        width: 85vw;
        max-width: 900px;
        padding: 22px;
        background-color: #FAFAFA;
        text-align: justify;
        border-radius: 34px;
        
    }
    #profile {
        width: 200px;
    }
    
    .project{
        margin-right: 30px;
    }

    .iconify {
        color: black;
        font-size: 40px;
        margin-bottom: 30px;
    }
    section#home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 10px;
        font-weight: bold;
        line-height: 32px;
    }
    section#home h2{
        font-size: 3em;
        margin-left: 5px;
        margin-bottom: 20px;
    }
    
    div#content{
        margin-left: 20px;
    }
    
    div#project-up{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div#project-down{
        display: flex;
    }
}